body
{
	background: lightblue;
}

	.login_div
	{
		background: white;
		padding: 40px;
		float: none;
		border-radius: 15px;
		width: 500px;
		margin-top: 10px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;

font-size: large;
text-align: center;
}
#button1
{
	background-color: aqua;
	font-family: cursive;
	margin-top: 10px;
	width: 1000px;
}
#word_input
{
	width:200px;
}

